<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SOBRE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/foto.jpg" alt="">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desenvolvido por:</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-icon name="man-outline"></ion-icon>
      <ion-label>Olivia Rodrigo</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="at-outline"></ion-icon>
      <ion-label>rodrigao.livi@gmail.com </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>www.pasteldaro.com.br </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label>@liv.ro </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <ion-label> VERSÃO 0.0.1 </ion-label>
    </ion-item>

  </ion-card>
</ion-content>
